<div class="sidenav-header">
    <img [width]="profilePicSize" [height]="profilePicSize" src="../../../../assets/daniel.jpg" />
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed">
        <h2>Daniel Radcliff</h2>
        <p>SCI-11/B-23</p>
    </div>
</div>

<mat-nav-list>
    <div *ngFor="let item of menuItem">
        <a mat-list-item class="menu-item" (click)="toggleNested(item)" [routerLink]="item.route"
            routerLinkActive="selected-menu-item" #rla="routerLinkActive" [class.active]="rla.isActive">
            <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
                {{ item.icon }}
            </mat-icon>
            <span matListItemTitle *ngIf="!sideNavCollapsed">{{ item.label }}</span>

            <span matListItemMeta *ngIf="item.subItems">
                <mat-icon>
                    {{ isMenuOpen(item) ? 'expand_less' : 'expand_more' }}
                </mat-icon>
            </span>
        </a>

        <!-- Nested Sub Menus -->
        <div *ngIf="item.subItems && isMenuOpen(item)" @expandContractMenu>
            <a mat-list-item class="menu-item" [class.indented]="!sideNavCollapsed"
                *ngFor="let subItem of item.subItems" [routerLink]="subItem.route" routerLinkActive="selected-menu-item"
                #rla="routerLinkActive">

                <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
                    {{ subItem.icon }}
                </mat-icon>
                <span matListItemTitle *ngIf="!sideNavCollapsed">{{ subItem.label }}</span>
            </a>
        </div>
    </div>
</mat-nav-list>